/*
[Custom Stylesheet]
Project     : SociFly - Multipurpose Social Network HTML5 Template
Version     : 1.0
Author      : ThemeLooks
Author URI  : https://themeforest.net/user/themelooks
You can write your custom css styles in this file...
*/
#cover_photo_id {
    cursor: pointer;
}

.bell-notification {
    width: 170px;
    overflow-y: scroll;
    height: 200px;
}

.bell-notification li{
    margin-top: 3px;
    margin-left: 3px;
    padding-left:3px;
}

.group_edit {
    cursor: pointer;
}

.pv-profile-wrapper a:visited {
    color: #0073b1;
}

.artdeco-button--tertiary, .artdeco-button--tertiary:visited, .artdeco-button--tertiary:visited:hover, a.artdeco-button--tertiary {
    background-color: transparent;
    color: #0073b1;
}

.artdeco-button--circle.artdeco-button, .artdeco-button--circle.artdeco-button--2 {
    height: 4rem;
    width: 4rem;


    position: absolute;
    top: 25px;
    right: 20px;
}

a.artdeco-button, a.artdeco-button:active, a.artdeco-button:focus, a.artdeco-button:hover, a.artdeco-button:visited {
    text-decoration: none;
}

li-icon[type$=-icon] {
    width: 24px;
    height: 24px;
}

li-icon {
    display: inline-block;
    width: 300px;
    height: 150px;
    overflow: hidden;
    position: relative;
}

.pv-profile-wrapper a:visited {
    color: #0073b1;
}

.profile-photo-edit__edit-icon.profile-photo-edit__edit-icon.profile-photo-edit__edit-icon {
    position: absolute;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    bottom: 0px;
    right: -8px;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
    color: #0073b1;
    padding: 8px 0 0 8px;
    cursor: pointer;
}


/*Slide show*/

/* Slideshow container */
.myslideshow-container {
    position: relative !important;
    margin: auto;
}

/* Next & previous buttons */
.myprev, .mynext {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #999;
    font-weight: bold;
    font-size: 36px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.mynext {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.myprev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.myprev:hover, .mynext:hover {
    background-color: rgba(0,0,0,0.8);
}

.myactive, .mydot:hover {
    background-color: #717171;
}

/* Fading animation */
.myslidefade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes myslidefade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes myslidefade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .myprev, .mynext {font-size: 11px}
}

#note_comment {
    margin-top: 20px;
}

.comment_content {
    margin-top: 10px;
}
